{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url(assets/images/parallax14.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'assets/images/resources/page-title-ayat.png' %}" alt="page-title-ayat.png"></h1>
                <h2>Contact</h2>
                <ul class="breadcrumbs">
                    <li><a href="index-2.html" title="">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Get information</span>
                    <h3>Contact information</h3>
                </div>
            </div>
            <div class="contact-info-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-location-pin"></i>
                            <strong>Our Location</strong>
                            <span>Linnankatu 23-25, 90100</span>
                            <span>Oulu, Finland</span>
                            <!-- <a href="mailto:info@psiy.fi" title="Email Us">info@psiy.fi</a> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-call"></i>
                            <strong>Contact us Anytime</strong>
                            <span>Dr. Abdul Mannan: +358 50 0582371</span>
                            <span>Aminu Mubarak: +358 41 4930672</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-email"></i>
                            <strong>Write to us</strong>
                            <span><a href="mailto:info@pisy.fi" title="">info@psiy.fi</a></span>
                            <span><a href="mailto:sisters@psiy.fi" title="">sisters@psiy.fi</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- Contact Info Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap no-gap">
        <div class="sec-title text-center">
            <div class="sec-title-inner">
                <span>Our location</span>
            </div>
        </div>
        <div style="padding-left: 30px; padding-right: 30px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.69499269333045!2d25.480714506017478!3d65.01365079154063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468032ac092e1817%3A0x9e12d39f7984928!2sYusuf%20An-Naaghi%20Oulun%20Keskus%20Moskeija%20(Oulu%20Central%20Mosque)!5e0!3m2!1sen!2sfi!4v1735163725916!5m2!1sen!2sfi" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div></div>
        <!-- <div class="contact-loc" id="contact-loc"></div> -->
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <h3>Other places where you can offer prayer in Oulu</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="text-center">
                        <p>Al-Nuur Mosque, Toppila</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13473.404819292864!2d25.416663910839855!3d65.0315986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46802d00671d1deb%3A0x1f1c73123dbf064a!2sAl-Nuur%20Mosque!5e0!3m2!1sen!2sfi!4v1738625364023!5m2!1sen!2sfi" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="text-center">
                            <p>Room FY1042 - Quiet Room, University of Oulu</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1731.739889284794!2d25.464885220208263!3d65.05908089129231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46802d0fee05afb3%3A0xe8963f6b08a1eba1!2sUniversity%20of%20Oulu!5e0!3m2!1sen!2sfi!4v1738625402918!5m2!1sen!2sfi" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-4">
                    <div class="text-center">
                            <p>Quiet Room, Yliopistokatu 4A, Linnanmaa</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d408.68261322732627!2d25.472849110648372!3d65.05605420885608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46802d10fc126eb9%3A0x114c86e202d4195a!2sYliopistokatu%204%2C%2090570%20Oulu!5e0!3m2!1sen!2sfi!4v1738625275363!5m2!1sen!2sfi" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Have Questions?</span>
                    <h3>Send us a message</h3>
                </div>
            </div>
            <div class="contact-form text-center">
                <form id="contact-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mrg20">
                       {{ form }}
                        <div class="col-md-12 col-sm-12 col-lg-12 pt-3">
                            <div class="text-center">
                                <button class="thm-btn brd-rd40" type="submit">Send message</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    <div class="gap">
    </div>
</section>
{% endblock %}