{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap blue-layer opc85">
        <div class="fixed-bg" style="background-image: url(assets/images/parallax11.jpg);"></div>
        <div class="container">
            <div class="place-wrap text-center">
                <div class="place-inner">
                    <h2>Participate in Supporting the Mosque </h2>
                    <p>
                        The mosque has very high maintenance costs and is therefore dependent on donations from community members. Help yourself by helping your community and get involved in supporting the mosque. By supporting the mosque, you earn a reward from Allah for every activity or event that takes place in the mosque. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="event-wrap">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="remove-ext3">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-lg-4">
                                    <div class="event-box2">
                                        <!-- <div class="event-thumb">
                                            <a href="#" title=""><img src="assets/images/resources/event-img3.jpg" alt="event-img2-1.jpg"></a>
                                        </div> -->
                                        <div class="event-info">
                                            <h4>Invest in Aakhira</h4>
                                            <p>“Who is it that will lend Allah a goodly loan, so that He may multiply it for him many times over? And it is Allah who withholds and grants abundance. And to Him you will ˹all˺ be returned„ </p>
                                            <ul class="event-mta">
                                                <li>Holy Quran (2:245) </li>
                                                <!-- <li><i class="flaticon-clock"></i>December 4, 2024</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-lg-4">
                                    <div class="event-box2">
                                        <!-- <div class="event-thumb">
                                            <a href="#" title=""><img src="assets/images/resources/event-img2-1.jpg" alt="event-img2-1.jpg"></a>
                                        </div> -->
                                        <div class="event-info">
                                            <h4>Sadaqa Jariyah</h4>
                                            <p>“When a man dies, his deeds come to an end except for three things, Sadaqah Jariyah (ceaseless charity), a knowledge which is beneficial, or a virtuous descendant who prays for him"</p>
                                            <ul class="event-mta">
                                                <li>Prophet [P.B.U.H] (Muslim) </li>
                                                <!-- <li><i class="flaticon-clock"></i>December 4, 2024</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-lg-4">
                                    <div class="event-box2">
                                        <!-- <div class="event-thumb">
                                            <a href="#" title=""><img src="assets/images/resources/event-img2-2.jpg" alt="event-img2-2.jpg"></a>
                                        </div> -->
                                        <div class="event-info">
                                            <h4>Earn the Blessing of Allah</h4>
                                            <p>“Those who in charity spend of their goods by night and by day, in secret and in public, have their reward with their Lord. And on them shall be no fear, nor shall they grieve"</p>
                                            <ul class="event-mta">
                                                <li>Holy Quran (2:274)</li>
                                                <!-- <li><i class="flaticon-clock"></i>December 4, 2024</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Event Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="ap white-layer opc9">
        <div class="fixed-bg ptrn-bg" style="background-image: url(assets/images/pattern-bg.jpg);"></div>
        <div class="container">
                <div class="gap">
                    <div class="container">
                        <div class="blog-wrap remove-ext7">
                            <div class="row mrg40">
                                <div class="testi-wrap">
                                    <div class="row mb-3">
                                        <!-- Card container -->
                                        <div class="col-12 d-flex align-items-center border p-3">
                                            <!-- Image Section -->
                                            <div class="col-md-4">
                                                <a href="blog-detail.html" title="">
                                                    <img src="/static/assets/images/card-blue.svg" alt="post-img1.jpg" class="img-fluid">
                                                </a>
                                            </div>
                                            <!-- Text Section -->
                                            <div class="col-md-8">
                                                <h4>Direct bank transfer</h4>
                                                <ul>
                                                    <li><b>Name: </b>Pohjois Suomen Islamilainen Yhdyskunta (PSIY)</li>
                                                    <li><b>Bank: </b>Danske Bank</li>
                                                    <li><b>Account Number: </b>FI9789008710565976</li>
                                                    <li><b>Message: </b>Membership Fees</li>
                                                    <li><b>Note: Remember to select the recurring payment option - ("monthly") </b></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="expns-wrp remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img4.jpg" alt="expns-img4.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Palestine Funds</a></h4>
                                <p>Help our Palestine families to survive.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>8500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg4"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="donate.html" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img5.jpg" alt="expns-img5.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">School Expenses</a></h4>
                                <p>School elementum auctor rutrum. Donec eu orci sem, Nam facilisis mauris.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>3599.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg5"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="#" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img6.jpg" alt="expns-img6.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Graveyard Expenses</a></h4>
                                <p>Graveyard elementum auctor rutrum. Donec eu orci sem, Nam facilisis mauris.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>6500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg6"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="#" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}