{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}

    <section>
        <div class="gap">
            <div class="container">
                <div class="sec-title style2 text-center">
                    <div class="sec-title-inner">
                        <span>Our captured moments</span>
                        <h3>Gallery</h3>
                    </div>
                    <p>With our diverse events happening every month, here are some of the most treasured moments shared by our community.</p>
                </div>
                <div class="prtfl-wrap text-center">
                    <div class="prtfl-dta remove-ext1">
                        <div class="row mrg15 masonry">

                            {% for item in galleries %}
                                <div class="col-md-4 col-sm-6 col-lg-4 fltr-itm fltr-itm1">
                                    <div class="prtfl-box" style="height: 420px; margin: 5px">
                                        <img src="{{ item.image.url }}"
                                             alt="prtfl-img1.jpg">
                                        <div class="prtfl-info">
                                            <a href="{{ item.image.url }}"
                                               data-fancybox="gallery"
                                               title=""><i class="fa fa-plus"></i></a>
                                            <h4>{{ item.name }}</h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}