{% load i18n %}
{% load static %}
<header class="style1">
    <div class="container">
        <div class="logo"><a href="{% url 'home' %}" title="Logo">
            <img src="{% static 'assets/images/rsz_main1.png' %}" alt="logo.png"></a>
        </div>
        <nav>
            <div>
                <a class="thm-btn brd-rd40" href="#" title="">Donate</a>
                <ul>
                    <li><a href="{% url 'home' %}" title="">Home</a></li>
                    <li><a href="{% url 'prayer-times' %}" title="">Prayer Timings</a></li>
                    <li><a href="{% url 'membership' %}" title="">Memberships</a></li>
                    <li class="menu-item-has-children"><a href="#" title="">Services</a>
                        <ul>
                            <li><a href="{% url 'services' %}" title="">General Services</a></li>
                            <li><a href="services.html" title="">Quran Classes</a></li>
                            <li><a href="team.html" title="">Team Grid View</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="event.html" title="">News & Events</a>
                        <ul>
                            <li><a href="about.html" title="">News</a></li>
                            <li><a href="about.html" title="">Events</a></li>
                            <li><a href="about.html" title="">Gallery</a></li>
                            <li><a href="{% url 'post-list' %}" title="">Blogs</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#" title="">Resources</a>
                        <ul>
                            <li><a href="portfolio.html" title="">Introduction to Islam</a></li>
                            <li><a href="services.html" title="">Books and Pamphlets</a></li>
                            <li><a href="team.html" title="">Videos</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#" title="">Contact Us</a>
                        <ul>
                            <li><a href="about.html" title="">About Us</a></li>
                            <li><a href="about.html" title="">History</a></li>
                            <li><a href="about.html" title="">Aim and Vision</a></li>
                            <li><a href="about.html" title="">Contact</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="contact.html" title="">Contact</a></li> -->
                    <!-- <li><a href="crowd-funding.html" title="">Donate</a></li> -->
                    <!-- <li class="menu-item-has-children"><a href="#" title="">Language</a>
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                        <ul>
                            {% for language in languages %}
                                <li>
                                    <a href="/{{ language.code }}/"
                                            {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                                        {{ language.name_local }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li> -->
                    <li class="menu-item-has-children" style="width: 180px;">
                        <label for="language-select" style="display: none;">Language</label>
                        <select id="language-select" onchange="changeLanguage(this.value)">
                            {% get_current_language as CURRENT_LANGUAGE %}
                            {% get_available_languages as AVAILABLE_LANGUAGES %}
                            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="/{{ language.code }}/"
                                        {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>                    
                </ul>
            </div>
        </nav>

    </div>
</header><!-- Header -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Instagram" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <form class="rspn-srch">
            <input type="text" placeholder="Enter Your Keyword"/>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="lg-mn">
        <div class="logo"><a href="index-2.html" title="Logo"><img src="assets/images/logo2.png"
                                                                   alt="logo2.png"></a></div>
        <div class="rspn-cnt">
            <span><i class="fa fa-envelope thm-clr"></i><a href="#" title="">info@bismillah.com</a></span>
            <span><i class="fa fa-phone thm-clr"></i>+(00) 123-345-11</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul>
            <li><a href="{% url 'home' %}" title="">Home</a></li>
            <li class="menu-item-has-children"><a href="#" title="">Blog</a>
                <ul>
                    <li><a href="blog.html" title="">Blog</a></li>
                    <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                </ul>
            </li>
            <li><a href="event.html" title="">Event</a></li>
            <li><a href="crowd-funding.html" title="">Donate</a></li>
            <li class="menu-item-has-children"><a href="#" title="">Pages</a>
                <ul>
                    <li><a href="team.html" title="">Team Grid View</a></li>
                    <li><a href="team2.html" title="">Team Round View</a></li>
                    <li><a href="portfolio.html" title="">Our Portfolio</a></li>
                    <li><a href="services.html" title="">Our Services</a></li>
                </ul>
            </li>
            <li><a href="about.html" title="">About</a></li>
            <li><a href="contact.html" title="">Contact</a></li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->