{% load i18n %}
{% load static %}
<header class="style1">
    <div class="container">
        <div class="logo"><a href="{% url 'home' %}" title="Logo">
            <img src="{% static 'assets/images/rsz_main1.png' %}" alt="logo.png"></a>
        </div>
        <nav>
            <div>
                <a class="thm-btn brd-rd40" href="{% url 'donate' %}" title="">Donate</a>
                <ul>
                    <li><a href="{% url 'home' %}" title="">Home</a></li>
                    <li><a href="{% url 'prayer-times' %}" title="">Prayer Timings</a></li>
                    <li><a href="{% url 'membership' %}" title="">Memberships</a></li>
                    <li class="menu-item-has-children"><a href="{% url 'services' %}" title="">Services</a>
                        <ul>
                            <li><a href="{% url 'services' %}" title="">General Services</a></li>
                            <li><a href="{% url 'quran-classes' %}" title="">Quran Classes</a></li>
                            <!-- <li><a href="team.html" title="">Team Grid View</a></li> -->
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="events.html" title="">News & Events</a>
                        <ul>
                            <li><a href="{% url 'news' %}?post_type=1" title="">News</a></li>
                            <li><a href="{% url 'events' %}?post_type=2" title="">Events</a></li>
                            <li><a href="{% url 'gallery' %}" title="">Gallery</a></li>
                            <li><a href="{% url 'post-list' %}?post_type=0" title="">Blogs</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="{% url 'intro-to-islam' %}" title="">Resources</a>
                        <ul>
                            <li><a href="{% url 'intro-to-islam' %}" title="">Introduction to Islam</a></li>
                            <li><a href="{% url 'books-pamphlets' %}" title="">Books and Pamphlets</a></li>
                            <!-- <li><a href="team.html" title="">Videos</a></li> -->
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#" title="">Contact Us</a>
                        <ul>
                            <li><a href="{% url 'about' %}" title="">About Us</a></li>
                            <li><a href="{% url 'history' %}" title="">History</a></li>
                            <li><a href="{% url 'about' %}" title="">Aim and Vision</a></li>
                            <li><a href="{% url 'contact' %}" title="">Contact</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="contact.html" title="">Contact</a></li> -->
                    <!-- <li><a href="crowd-funding.html" title="">Donate</a></li> -->
                    <!-- <li class="menu-item-has-children"><a href="#" title="">Language</a>
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                        <ul>
                            {% for language in languages %}
                                <li>
                                    <a href="/{{ language.code }}/"
                                            {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                                        {{ language.name_local }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li> -->
                    <li class="menu-item-has-children" style="width: 180px;">
                        <label for="language-select" style="display: none;">Language</label>
                        <select id="language-select" onchange="changeLanguage(this.value)">
                            {% get_current_language as CURRENT_LANGUAGE %}
                            {% get_available_languages as AVAILABLE_LANGUAGES %}
                            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="/{{ language.code }}/"
                                        {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>                    
                </ul>
            </div>
        </nav>

    </div>
</header><!-- Header -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
        <ul class="rspn-scil">
            <li><a href="https://www.facebook.com/profile.php?id=100088755501692" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/psiy.oulu/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.instagram.com/psiy.women/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="lg-mn">
        <div class="logo">
            <a href="{% url 'home' %}" title="Logo">
                <img src="{% static 'assets/images/rsz_main1.png' %}" alt="logo.png">
            </a>
        </div>
        <div class="rspn-cnt">
            <span><i class="fa fa-envelope thm-clr"></i><a href="mailto:info@psiy.fi" title="">info@psiy.fi</a></span>
            <span><i class="fa fa-phone thm-clr"></i>+358-123-456-789</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul>
            <li><a href="{% url 'home' %}" title="">Home</a></li>
            <li><a href="{% url 'prayer-times' %}" title="">Prayer Timings</a></li>
            <li><a href="{% url 'membership' %}" title="">Memberships</a></li>
            <li class="menu-item-has-children">
                <a href="{% url 'services' %}" title="">Services</a>
                <ul>
                    <li><a href="{% url 'services' %}" title="">General Services</a></li>
                    <li><a href="{% url 'quran-classes' %}" title="">Quran Classes</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" title="">News & Events</a>
                <ul>
                    <li><a href="{% url 'news' %}?post_type=1" title="">News</a></li>
                    <li><a href="{% url 'events' %}?post_type=2" title="">Events</a></li>
                    <li><a href="{% url 'gallery' %}" title="">Gallery</a></li>
                    <li><a href="{% url 'post-list' %}?post_type=0" title="">Blogs</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'intro-to-islam' %}" title="">Resources</a>
                <ul>
                    <li><a href="{% url 'intro-to-islam' %}" title="">Introduction to Islam</a></li>
                    <li><a href="{% url 'books-pamphlets' %}" title="">Books and Pamphlets</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#" title="">Contact Us</a>
                <ul>
                    <li><a href="{% url 'about' %}" title="">About Us</a></li>
                    <li><a href="{% url 'history' %}" title="">History</a></li>
                    <li><a href="{% url 'about' %}" title="">Aim and Vision</a></li>
                    <li><a href="{% url 'contact' %}" title="">Contact</a></li>
                </ul>
            </li>
            <li>
                <a class="thm-btn brd-rd40" href="{% url 'donate' %}" title="">Donate</a>
            </li>
            <li class="menu-item-has-children" style="width: 180px;">
                <label for="language-select" style="display: none;">Language</label>
                <select id="language-select" onchange="changeLanguage(this.value)">
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="/{{ language.code }}/"
                                {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </li>
        </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
