{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url(assets/images/parallax8.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="/static/assets/images/resources/page-title-ayat.png" alt="page-title-ayat.png"></h1>
                <h2>History</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}" title="">Home</a></li>
                    <li>History</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="hstry-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-img text-center">
                            <img src="/static/assets/images/resources/hstry-img.png" alt="hstry-img.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-desc">
                            <span>A Few Words About Us</span>
                            <h2>History Of Center</h2>
                            <p>Since 1987, Our institution guiding students and people around the world. all this mistaken idea of denouncing pleasure and will give you a complete account. Since 1987, Our institution guiding students and people around the world.</p>
                            <strong>The jamia is the <span>#1</span> Islamic Center in the <span>Country!</span></strong>
                            <ul>
                                <li>Astonisihing Facilities</li>
                                <li>Helping All Communities</li>
                                <li>Leads Charity Events</li>
                                <li>Schooling Children</li>
                                <li>Feeding Hungry People</li>
                                <li>Providing Accomodations</li>
                                <li>Funding Poor People</li>
                                <li>Providing Food & Clothes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- History Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap remove-gap">
        <div class="container">
            <div class="expns-wrp remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img1.jpg" alt="expns-img1.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Mosque Renovation</a></h4>
                                <p>Mosque renovations required your money to complete rooms accomodation.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>5000.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg1"></div>
                                    <span>Still Required<i>2539.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img2.jpg" alt="expns-img2.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">New Classes For Students</a></h4>
                                <p>Classes renovations required your money to complete rooms accomodation.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg2"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img3.jpg" alt="expns-img3.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Helping Syrian Refugees</a></h4>
                                <p>Helping Refugees required your money to complete rooms accomodation.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg3"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap no-gap">
        <div class="container">
            <div class="contr-wrap text-center">
                <div class="contr-inner">
                    <div class="contr-desc contr-inr">
                        <h2>HOW TO CONTRIBUTE - IDEAS</h2>
                        <p>We have had an overwhelming response from many brothers and sisters of ideas and ways of making money for this noble cause. If you have an idea of how funds can be raised, then please contact a member of staff at the Islamic Centre or email <strong>info@jamia.com</strong></p>
                    </div>
                    <div class="contr-butn contr-inr">
                        <a class="secndry-btn brd-rd40" href="/donate" title="">DONATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="expns-wrp remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img4.jpg" alt="expns-img4.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Hunger Expenses</a></h4>
                                <p>Hunger elementum auctor rutrum. Donec eu orci sem, Nam facilisis mauris.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>8500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg4"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img5.jpg" alt="expns-img5.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">School Expenses</a></h4>
                                <p>School elementum auctor rutrum. Donec eu orci sem, Nam facilisis mauris.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>3599.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg5"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="/static/assets/images/resources/expns-img6.jpg" alt="expns-img6.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="#" title="">Graveyard Expenses</a></h4>
                                <p>Graveyard elementum auctor rutrum. Donec eu orci sem, Nam facilisis mauris.</p>
                                <div class="expns-info-innr">
                                    <span>Funds Neded<i>6500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg6"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div>
                                <a class="thm-btn brd-rd40" href="/donate" title="">Donate Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}