{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap no-gap owl-yellow">
        <div class="featured-area-wrap text-center">
            <div class="featured-area owl-carousel">
                {% for slider in sliders %}
                <!-- <div class="featured-item"
                             style="background-image: url({% static 'assets/images/resources/slide1.png' %});"> -->
                <div class="featured-item">

                    <style>
                        .featured-item {
                            background-image: url("{% static 'assets/images/resources/slide1.jpg' %}");
                        }
                    </style>
                    <div class=" featured-cap">
                        <img src="{{ slider.image.url }}" alt="bsml-txt.png">
                        <!-- <h1><img src="{% static 'assets/images/resources/ayat-txt.png' %}" alt="ayat-txt-color"> -->
                        </h1>
                        <h3>{{ slider.title }}</h3>
                        <span>{{ slider.subtitle }}</span>
                        <!-- <a class="thm-btn brd-rd40" href="{{ slider.btn_url }}" title="">{{ slider.btn_text }}</a> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div><!-- Featured Area Wrap -->
    </div>
</section>



<!-- <section>
    <div class="gap">
        <div class="lft-shp shp-lyr"></div>
        <div class="container text-center">
            <div class="plrs-wrap text-center remove-ext5">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-sm-6 col-lg-2">
                        <div class="plr-box">
                            <i class="flaticon-islamic-pray"></i>
                            <div class="pilr-info">
                                <h4>Fajar</h4>
                                <p>Time</p>
                                <p>Iqamah</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-2">
                        <div class="plr-box">
                            <i class="flaticon-islamic-ramadan"></i>
                            <div class="pilr-info">
                                <h4>Dhuhr</h4>
                                <p>Time</p>
                                <p>Iqamah</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-2">
                        <div class="plr-box">
                            <i class="flaticon-charity"></i>
                            <div class="pilr-info">
                                <h4>Asr</h4>
                                <p>Time</p>
                                <p>Iqamah</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-2">
                        <div class="plr-box">
                            <i class="flaticon-kaaba-building"></i>
                            <div class="pilr-info">
                                <h4>Magrib</h4>
                                <p>Time</p>
                                <p>Iqamah</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-2">
                        <div class="plr-box">
                            <i class="flaticon-kaaba-building"></i>
                            <div class="pilr-info">
                                <h4>Isha</h4>
                                <p>Time</p>
                                <p>Iqamah</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> Todays Namaz timing Wrap -->
        <!-- </div>
    </div>
</section> -->

<section>
    <div class="gap thm-layer opc9">
        <div class="fixed-bg ptrn-bg">
            <style>
                .fixed-bg.ptrn-bg {
                    background-image: url("{% static 'assets/images/pattern-bg.jpg' %}");
                }
            </style>
        </div>
        <div class="container">
            <div class="nwsltr-wrp text-center">
                <div class="nwsltr-innr">
                    <div class="nwsltr-title">
                        <h3>Latest News</h3>
                    </div>
                </div>
                <div class="testi-wrap text-center">
                    <div class="testi-car owl-carousel">
                        <div class="testi-itm">
                            <div class="testi-info">
                                <h4>Taraweeh Prayer at the Masjid Announcement</h4>
                                <p>Taraweeh prayers will be held at the Central Masjid following Isha prayer. The prayer will commence 20 minutes after the Adhan of Isha, starting with the Isha prayer, followed by Taraweeh. All worshippers are encouraged to attend and participate in the congregational prayers. </p>
                            </div>
                        </div>
                        <div class="testi-itm">
                            <!-- <i><img src="assets/images/resources/testi-img1.jpg" alt="testi-img1.jpg"></i> -->
                            <div class="testi-info">
                                <h4>Weekly Halaqah for men and women</h4>
                                <p>Quran Halaqah for both men and women shall take place in the masjid over the weekend throughout Ramadan. Please do
                                    join and participate in reciting the Holy Quran together with fellow brothers or sisters.
                                <p>Timings for men: Sunday 13:00 - 14:00</p>
                                <p>Timings for women: Saturday 12:00 - 13:30</p>
                                <!-- <h4>Jumuah Shortened</h4>
                                <p>Last Jumuah, it was announced that the total duration of Jumuah
                                    (Khutbah+Dua+Prayer) will be ~30 mins. Khutbah (Arabic/English/Finnish) will be
                                    ~20 mins, followed by a ~10-min prayer. Khutbah Azan aligns with Dhuhr's time in
                                    the Timetable (check the Mawaqit app).</p> -->
                            </div>
                        </div>
                        <div class="testi-itm">
                            <!-- <i><img src="assets/images/resources/testi-img2.jpg" alt="testi-img2.jpg"></i> -->
                            <div class="testi-info">
                                <h4>Sunday Iftars organized by PSIY</h4>
                                <p>Every Sunday throughout Ramadan, PSIY will organise Iftars at <a href="https://maps.app.goo.gl/xChgMda5LXjyocaU8">Raatin Nuoristalo</a> and everyone is invited. </p>
                                <!-- <h4>Annual General Meeting</h4>
                                <p>Annual General Meeting of PSIY will be held on 31st December 2024 for the
                                    executive council.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="gap white-grad-layer">
        <div class="fixed-bg">
            <style>
                .fixed-bg {
                    background-image: url("{% static 'assets/images/parallax1.jpg' %}");
                }
            </style>
        </div>
        <div class="container">
            <div class="abot-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="abot-sec">
                            <div class="sec-title">
                                <div class="sec-title-inner">
                                    <span>About</span>
                                    <h3>Pohjois Suomen Islamilainen Yhdyskunta</h3>
                                </div>
                            </div>
                            <p>The Islamic Society of Northern Finland (PSIY) is a dedicated organization committed to serving the Muslim community in
                            Oulu and beyond. Our journey began in the early 1990s, and since then, we have been working to promote Islamic
                            teachings, foster unity, and contribute positively to society.</p>
                            
                            <p>Guided by the Qur’an and Sunnah, we strive to uphold Islamic values while providing essential religious, educational,
                                and social services. From organizing prayers and Quran classes to supporting integration efforts and charitable
                                initiatives, PSIY is a cornerstone for the Muslim community in Northern Finland.</p>
                            
                            <p>We welcome everyone to learn more about Islam, participate in our activities, and join us in building a stronger,
                                united community.</p>

                            <a class="secndry-btn brd-rd40" href="{% url 'about' %}" title="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div><!-- About Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="fixed-bg parallax-bg">
            <style>
                .fixed-bg.parallax-bg {
                    background-image: url("{% static 'assets/images/parallax2.jpg' %}");
                }
            </style>
        </div>
        <div class=" container
            ">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Serving Humanity</span>
                    <h3>Our Services</h3>
                </div>
            </div>
            <div class="serv-wrap">
                <div class="row">
                    <!-- <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="srv-tl">
                                <h2>We're on a <span>Mission</span> to</h2>
                                <h5>solve the problems and gain resources for a new generation.</h5>
                            </div>
                        </div> -->
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="remove-ext9">
                            <div class="row">
                                {% for service in services %}
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                    <div class="serv-box">
                                        <i class="flaticon-quran-rehal"></i>
                                        <div class="serv-info">
                                            <h4>{{ service.title }}</h4>
                                            <p>{{ service.desc }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap black-layer2 opc8 style-4-donate">
        <div class="fixed-bg parallax-bg-3">
            <style>
                .fixed-bg.parallax-bg-3 {
                    background-image: url("{% static 'assets/images/parallax3.jpg' %}");
                }
            </style>
        </div>
        <div class=" container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner">
                    <span>Support us</span>
                    <h3>We need your support!</h3>
                </div>
                <p>Your contributions help cover mosque maintenance, daily electricity charges, and water expenses. We also collect Zakat and funds to assist financially deprived communities worldwide. </p>
                <p>Every donation makes a difference—thank you for your generosity! </p>
                <div class="view-all text-center">
                    <a class="thm-btn brd-rd40" href="{% url 'donate' %}" title="donate">Bismillah - بسم الله</a>
                </div><!-- View All -->
            </div>
            <!-- <div class="suprt-prgrs style2 text-center">
                <div class="suprt-prg" id="suprt-prg1"></div>
                <div class="suprt-prg" id="suprt-prg2"></div>
                <div class="suprt-prg" id="suprt-prg3"></div>
            </div> -->
        </div>
    </div>
</section>

<section>
    <div class="gap gray-layer opc95">
        <div class="fixed-bg">
            <style>
                .fixed-bg.fixed-bg.parallax-bg-4 {
                    background-image: url("{% static 'assets/images/parallax4.jpg' %}");
                }
            </style>
        </div>
        <div class=" container">
            <div class="evnt-pry-wrap">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-title">
                            <div class="sec-title-inner">
                                <h3><span>Upcoming</span> Events</h3>
                            </div>
                            <p>Explore our upcoming events and activities!
                                Check the calendar below for event dates and details. Stay engaged and be a part of our community gatherings!
                            </p>
                        </div>
                        <div class="container">
                            <div class="calendar-wrapper">
                                <iframe
                                    src="https://calendar.google.com/calendar/embed?src=psislamilainen%40gmail.com&ctz=Europe%2FHelsinki&src=muslimsisterspsiyoulu%40gmail.com&ctz=Europe%2FHelsinki"
                                    style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                                <!-- <iframe src="https://calendar.google.com/calendar/embed?src=muslimsisterspsiyoulu%40gmail.com&ctz=Europe%2FHelsinki" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
                            </div>
                        </div>
                        <div class="evnt-wrap remove-ext5">
                            <div class="row mrg20">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <div class="remove-ext3">
                                        <div class="row">

                                            {% for event in events %}
                                            <div class="col-md-4 col-sm-6 col-lg-4">
                                                <div class="event-box2">
                                                    <div class="event-thumb">
                                                        <a href="#" title=""><img src="{{ event.image.url }}"
                                                                alt="event-img2-1.jpg"></a>
                                                    </div>
                                                    <div class="event-info">
                                                        <h4><a href="#" title="">{{ event.name }}</a></h4>
                                                        <p>{{ event.description }}</p>
                                                        <ul class="event-mta">
                                                            <li><i class="fa fa-map-marker"></i></li>
                                                            <li><i class="flaticon-clock"></i>{{ event.date }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div><!-- Events Wrap -->
                    </div>
                    <div class="sec-title">
                        <div class="sec-title-inner">
                            <h3><span>Today's Prayer Timings</h3>
                        </div>
                        <br />
                        <section class="iframe-section">
                            <div class="container">
                                <!-- Desktop Version -->
                                <div class="iframe-wrapper desktop">
                                    <iframe
                                        src="https://mawaqit.net/en/w/islamic-society-northern-finland-oulu-90100-finland?showOnly5PrayerTimes=0"
                                        frameborder="0" scrolling="yes">
                                    </iframe>
                                </div>
                    
                                <!-- Mobile/Vertical Version -->
                                <div class="iframe-wrapper mobile">
                                    <iframe
                                        src="https://mawaqit.net/en/m/islamic-society-northern-finland-oulu-90100-finland?showNotification=0&showSearchButton=0&showFooter=0&showFlashMessage=0&view=mobile"
                                        frameborder="0" scrolling="no">
                                    </iframe>
                                </div>
                            </div>
                        </section>
                        </div>
                </div><!-- Events & Prayer Wrap -->
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap thm-layer opc9">
        <div class="fixed-bg parallax-bg-7">
            <style>
                .fixed-bg.fixed-bg.parallax-bg-7 {
                    background-image: url("{% static 'assets/images/parallax7.jpg' %}");
                }
            </style>
        </div>
        <div class=" container
            ">
            <div class="nwsltr-wrp text-center">
                <div class="nwsltr-innr">
                    <div class="nwsltr-title" style="margin-bottom: 20px;">
                        <h3>Become a Member</h3>
                    </div>
                    <a class="secndry-btn brd-rd40" href="{% url 'membership' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}