{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url(/static/assets/images/parallax8.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'assets/images/resources/page-title-ayat.png' %}" alt="page-title-ayat.png"></h1>
                <h2>Introduction to Islam</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}" title="">Home</a></li>
                    <li>Introduction to Islam</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="hstry-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-img text-center">
                            <img src="{% static 'assets/images/resources/hstry-img.png' %}" alt="hstry-img.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        
                        <div class="hstry-desc">
                            <span>Introduction to Islam</span>
                            <h2>The religion of Islam</h2>
                            <p>Islam is more than just a religion; it is a complete way of life that guides humanity toward righteousness, justice, and peace. The word Islam itself means "submission"—a submission to the will of Allah (SWT), the one and only God. It teaches that true peace and success in this life and the hereafter can only be attained by following the divine guidance revealed through the Qur’an and the teachings of Prophet Muhammad (SAW).</p>

                            <p>Islam is built upon five fundamental pillars: Faith (Shahada), Prayer (Salah), Charity (Zakat), Fasting (Sawm), and Pilgrimage (Hajj). These acts of worship bring Muslims closer to Allah, strengthen their faith, and instill a sense of discipline and community. The essence of Islam is summed up in the Qur'an:</p>

                            <blockquote>
                                <strong>إِنَّ ٱلدِّينَ عِندَ ٱللَّهِ ٱلْإِسْلَـٰمُ ۗ وَمَا ٱخْتَلَفَ ٱلَّذِينَ أُوتُوا۟ ٱلْكِتَـٰبَ إِلَّا مِنۢ بَعْدِ مَا جَآءَهُمُ ٱلْعِلْمُ بَغْيًۢا بَيْنَهُمْ ۗ وَمَن يَكْفُرْ بِـَٔايَـٰتِ ٱللَّهِ فَإِنَّ ٱللَّهَ سَرِيعُ ٱلْحِسَابِ</strong>
                                <p>"Indeed, the religion in the sight of Allah is Islam." [Surah Aal-e-Imran 3:19]</p>
                            </blockquote>

                            <p>Islam is not limited to a particular race, region, or ethnicity; it is a universal message for all of mankind. It calls people to worship Allah alone without any partners and to live a life of righteousness, honesty, and compassion. The Qur’an repeatedly reminds us of our purpose in life:</p>

                            <blockquote>
                                <strong>وَمَا خَلَقْتُ ٱلْجِنَّ وَٱلْإِنسَ إِلَّا لِيَعْبُدُونِ </strong>
                                <p>"And I did not create the jinn and mankind except to worship Me." [Surah Adh-Dhariyat 51:56]</p>
                            </blockquote>

                            <p>If you are new to Islam or seeking to learn more, we warmly invite you to explore this beautiful faith with an open heart. You can borrow a copy of the Qur'an in your own language from the masjid to read and reflect on its message. Islam is a faith of reason, wisdom, and mercy, guiding humanity toward a meaningful and purposeful life.</p>

                            <p>As Muslims, we strive to follow the Sunnah (Prophetic tradition) of our Prophet Muhammad (SAW), who was sent as a mercy to the world. His teachings exemplify kindness, patience, and truthfulness—values that benefit all of humanity. With over a billion followers worldwide, Islam continues to be a guiding light for individuals seeking spiritual fulfillment, moral integrity, and a strong sense of community. It promotes justice, kindness, and the pursuit of knowledge, encouraging believers to live in harmony with one another and contribute positively to society.</p>

                            <p>Islam is not just about belief—it is about action. By following the Qur'an and the Sunnah, Muslims aim to live a life of righteousness, contribute positively to society, and help others find the path of truth. It is through this commitment to faith and good deeds that a Muslim finds true success in this world and the Hereafter. If you have any questions or seek guidance, we welcome you to visit the masjid, meet the community, and embark on a journey toward understanding Islam.</p>

                            <p>May Allah guide us all to the truth and grant us wisdom in our pursuit of knowledge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="gap remove-gap">
        <div class="container">
            <div class="expns-wrp remove-ext3">
                <div class="row">
                    <div class="sec-title">
                        <div class="sec-title-inner">
                            <h3><span>Information </span> Links</h3>
                        </div>
                        <p>Following are some links to Information in Finnish.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title=""><img src="{% static 'assets/images/resources/expns-img1.jpg' %}" alt="expns-img1.jpg"></a>
                            <div class="expns-info">
                                <h4><a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title="">The purpose of Life</a></h4>
                                <p>The purpose of life is something that every person surely thinks about at some point in their life. How did all this come about? Why are we here? Who is behind all this mighty and unfathomably harmonious creation? </p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>5000.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg1"></div>
                                    <span>Still Required<i>2539.00 USD</i></span>
                                </div> -->
                                <br />
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title=""><img src="{% static 'assets/images/resources/expns-img2.jpg' %}" alt="expns-img2.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title="">The Life of Prophet Muhammad ﷺ</a></h4>
                                <p>Throughout the ages, Muslims have studied the life of the Prophet Muhammad ﷺ in order to understand how the Messenger of Allah ﷺ put into practice the teachings of Islam and the decrees of the Quran. </p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg2"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div> -->
                                <br />
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="{% static 'assets/images/resources/expns-img3.jpg' %}" alt="expns-img3.jpg"></a>
                            <div class="expns-info">
                                <h4><a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Joulu-ja-sen-ristiriitaisuus-monoteismiin/#wbb2" title="">Christmas and its contradiction to monotheism</a></h4>
                                <p>Celebrating Christmas today is a celebration originating from Christianity where they celebrate the birth of Prophet Jesus, peace be upon him, believing that on that day the "Son of God" was born.</p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg3"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div> -->
                                <br />
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Joulu-ja-sen-ristiriitaisuus-monoteismiin/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap no-gap">
        <div class="container">
            <div class="contr-wrap text-center">
                <div class="contr-inner">
                    <div class="contr-desc contr-inr">
                        <h2>How to Contribute - Share your ideas</h2>
                        <p>We have received an overwhelming response from many brothers and sisters, offering creative ideas and suggestions for raising funds for this noble cause. Your support and generosity are truly appreciated. If you have an idea on how we can raise funds effectively, we would love to hear from you! Please reach out to a member of staff at the Islamic Centre or email us at <strong>info@psiy.com</strong>. Together, we can make a meaningful impact.</p>
                    </div>
                    <div class="contr-butn contr-inr">
                        <a class="secndry-btn brd-rd40" href="{% url 'contact' %}" title="">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}