{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url(/static/assets/images/parallax8.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'assets/images/resources/page-title-ayat.png' %}" alt="page-title-ayat.png"></h1>
                <h2>Introduction to Islam</h2>
                <ul class="breadcrumbs">
                    <li><a href="index-2.html" title="">Home</a></li>
                    <li>Introduction to Islam</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="hstry-wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-img text-center">
                            <img src="{% static 'assets/images/resources/hstry-img.png' %}" alt="hstry-img.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div class="hstry-desc">
                            <span>The religion of Islam</span>
                            <h2>That original religion</h2>
                            <p>Since 1987, Our institution guiding students and people around the world. all this mistaken idea of denouncing pleasure and will give you a complete account. Since 1987, Our institution guiding students and people around the world.</p>
                            <strong>The jamia is the <span>#1</span> Islamic Center in the <span>Country!</span></strong>
                            <ul>
                                <li>Astonishing Facilities</li>
                                <li>Helping All Communities</li>
                                <li>Leads Charity Events</li>
                                <li>Schooling Children</li>
                                <li>Feeding Hungry People</li>
                                <li>Providing Accomodations</li>
                                <li>Funding Poor People</li>
                                <li>Providing Food & Clothes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- History Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap remove-gap">
        <div class="container">
            <div class="expns-wrp remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title=""><img src="{% static 'assets/images/resources/expns-img1.jpg' %}" alt="expns-img1.jpg"></a>
                            <div class="expns-info">
                                <h4><a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title="">The purpose of Life</a></h4>
                                <p>The purpose of life is something that every person surely thinks about at some point in their life. How did all this come about? Why are we here? Who is behind all this mighty and unfathomably harmonious creation? </p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>5000.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg1"></div>
                                    <span>Still Required<i>2539.00 USD</i></span>
                                </div> -->
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/El%C3%A4m%C3%A4n-tarkoitus/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title=""><img src="{% static 'assets/images/resources/expns-img2.jpg' %}" alt="expns-img2.jpg"></a>
                            <div class="expns-info">
                                <h4><a href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title="">The Life of Prophet Muhammad ﷺ</a></h4>
                                <p>Throughout the ages, Muslims have studied the life of the Prophet Muhammad ﷺ in order to understand how the Messenger of Allah ﷺ put into practice the teachings of Islam and the decrees of the Quran. </p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg2"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div> -->
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Profeetta-Muhammadin-%EF%B7%BA-El%C3%A4m%C3%A4/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="expns-box">
                            <a href="#" title=""><img src="{% static 'assets/images/resources/expns-img3.jpg' %}" alt="expns-img3.jpg"></a>
                            <div class="expns-info">
                                <h4><a target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Joulu-ja-sen-ristiriitaisuus-monoteismiin/#wbb2" title="">Christmas and its contradiction to monotheism</a></h4>
                                <p>Celebrating Christmas today is a celebration originating from Christianity where they celebrate the birth of Prophet Jesus, peace be upon him, believing that on that day the "Son of God" was born.</p>
                                <!-- <div class="expns-info-innr">
                                    <span>Funds Neded<i>7500.00 USD</i></span>
                                    <div class="expns-prg" id="expns-prg3"></div>
                                    <span>Still Required<i>3599.00 USD</i></span>
                                </div> -->
                                <a class="thm-btn brd-rd40" target="_blank" href="https://islaminusko.fi/Lue-lis%C3%A4%C3%A4-islamista/Joulu-ja-sen-ristiriitaisuus-monoteismiin/#wbb2" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gap no-gap">
        <div class="container">
            <div class="contr-wrap text-center">
                <div class="contr-inner">
                    <div class="contr-desc contr-inr">
                        <h2>HOW TO CONTRIBUTE - IDEAS</h2>
                        <p>We have had an overwhelming response from many brothers and sisters of ideas and ways of making money for this noble cause. If you have an idea of how funds can be raised, then please contact a member of staff at the Islamic Centre or email <strong>info@psiy.com</strong></p>
                    </div>
                    <div class="contr-butn contr-inr">
                        <a class="secndry-btn brd-rd40" href="#" title="">DONATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}