{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}

    <section>
        <div class="gap remove-bottom black-layer2 opc85">
            <div class="fixed-bg" style="background-image: url({% static 'assets/images/parallax12.jpg' %});"></div>
            <div class="container">
                <div class="page-title-wrap">
                    <h1><img src="/static/assets/images/resources/page-title-ayat.png" alt="page-title-ayat.png"></h1>
                    <h2>Memberships</h2>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'home' %}" title="">Home</a></li>
                        <li>Memberships</li>
                    </ul>
                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="gap blue-layer opc85">
            <div class="fixed-bg" style="background-image: url({% static 'assets/images/parallax11.jpg' %});"></div>
            <div class="container">
                <div class="place-wrap text-center">
                    <div class="place-inner">
                        <h2>Join the PSIY Community</h2>
                        <p>
                            Any Muslim can join the PSIY community by filling out the membership forms on this page,
                            regardless of their background or where they live in Finland.
                            (The form can be found on this page and printed at the entrance of the mosque)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="ap white-layer opc9">
            <div class="fixed-bg ptrn-bg" style="background-image: url({% static 'assets/images/pattern-bg.jpg' %});"></div>
            <div class="container">
                <div class="place-wrap text-center">
                    <div class="place-inner">
                        <div class="place-wrap text-left">

                            <h3>Two-step joining process:</h3>
                            <p><strong>Step 1:</strong> Each adult family member fills out a separate form:</p>
                            <ul>
                                <li>Children under the age of 18 must be added to either form - either the father's or
                                    the mother's form.
                                </li>
                                <li>
                                    <a href="https://dvv.fi/documents/16079645/20465665/Ilmoitus+uskonnolliseen+yhdyskuntaan+liittymisest%C3%A4/c3e44fb3-bb4f-1602-2963-98e0c3aef949/Ilmoitus+uskonnolliseen+yhdyskuntaan+liittymisest%C3%A4.pdf?t=1636468411778"
                                       class="thm-link">Association membership form</a></li>
                            </ul>
                            <p><strong>Note:</strong> Children aged 12-17 sign an additional attachment:</p>
                            <ul>
                                <li>
                                    <a href="https://dvv.fi/documents/16079645/20465665/12-17+vuotiaan+henkil%C3%B6n+suostumus+uskonnolliseen+yhdyskuntaan+liittymiseen-uskonnollisesta+yhdyskunnasta+eroamiseen/cbbf43a9-941e-7d06-202a-53d6e0935f23/12-17+vuotiaan+henkil%C3%B6n+suostumus+uskonnolliseen+yhdyskuntaan+liittymiseen-uskonnollisesta+yhdyskunnasta+eroamiseen.pdf?t=1673864183400"
                                       class="thm-link">Attachment link</a></li>
                            </ul>
                            <p><strong>Step 2:</strong> After completing the form, return it to PSIY using one of the
                                methods below:</p>
                            <ul>
                                <li>Send it to the box at the bottom of the page</li>
                                <li>Send it by email: <a href="mailto:info@psiy.fi" class="thm-link">info@psiy.fi</a>
                                </li>
                                <li>Bring it to the Yusuf An-Naaghi Mosque and put it in the membership box (next to the
                                    entrance).
                                </li>
                                <li>Mail to: Linnankatu 23-25, 90100 Oulu</li>
                            </ul>

                            <h5>
                                Send the completed Membership Form <br>
                                NOTE: Please make sure you have completed and completed the membership form before
                                submitting it
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}