{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}

<!-- Breadcrumb Area Start -->
<nav class="breadcrumb-area bg-dark bg-6 ptb-70">
    <div class="container d-md-flex">
        <h2 class="text-white mb-0">Blog Details</h2>
        <ol class="breadcrumb p-0 m-0 bg-dark ml-auto">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a> <span class="text-white">/</span></li>
            <li class="breadcrumb-item"><a href="{% url 'post-list' %}">Blog</a> <span class="text-white">/</span></li>
            <li aria-current="page" class="breadcrumb-item active">Blog Details</li>
        </ol>
    </div>
</nav>
<!-- Breadcrumb Area End -->

<!-- Blog Details Start -->
<section class="blog-page blog-details section-ptb bg-light">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-8 col-lg-9 mb-sm-50" data-aos="fade-up">
                <!-- Post Card Start -->
                <div class="card">
                    <div class="card-header position-relative">
                        <img src="{{ post.image.url }}" alt="Post Thumbnail">
                    </div>
                    <div class="card-body bg-white">
                        <h3>{{ post.title }}</h3>
                        <div class="mb-30">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
                <!-- Post Card End -->

                <!-- Navigation for Previous and Next Posts -->
                <div class="next-prev-post bg-white mt-50 mb-60 clearfix">
                    {% if post.get_previous_by_date_time %}
                    <div class="float-left">
                        <p>{{ post.get_previous_by_date_time.title|truncatewords:5 }}</p>
                        <a href="{% url 'post_detail' post.get_previous_by_date_time.slug %}">
                            <i class="ti-arrow-left"></i> &nbsp; Prev Post
                        </a>
                    </div>
                    {% endif %}
                    {% if post.get_next_by_date_time %}
                    <div class="float-right text-right">
                        <p>{{ post.get_next_by_date_time.title|truncatewords:5 }}</p>
                        <a href="{% url 'post_detail' post.get_next_by_date_time.slug %}">
                            Next Post &nbsp; <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>

                <!-- Comments Area Start -->
                <div class="comments-area">
                    <div class="comment-boxs">
                        {% for comment in post.get_comments.all %}
                        {% if comment.status == 1 %}
                        <div class="media bg-white mb-30">
                            <div class="thumb">
                                <img src="{% static 'assets/img/blog/author/default.png' %}" alt="Commentor Image">
                            </div>
                            <div class="media-body pl-30">
                                <h6 class="mb-0 float-right">{{ comment.created_at|date:"F d, Y" }}</h6>
                                <h4 class="mb-10">{{ comment.name }}</h4>
                                <p>{{ comment.desc }}</p>
                                <span class="text-muted small">Subject: {{ comment.subject }}</span>
                            </div>
                        </div>
                        {% endif %}
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                    </div>

                    <!-- Comment Form -->
                    <div class="comment-form bg-white mt-50">
                        <div class="title mb-40">
                            <h3 class="mb-10">Leave a Reply</h3>
                            <hr class="line bw-2 line-sm mb-5">
                            <hr class="line bw-2">
                        </div>
                        <form method="post" action="{% url 'add-comment' post.id %}" class="form-group">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input class="form-control" type="text" name="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                                </div>
                            </div>
                            <input class="form-control" name="subject" type="text" placeholder="Subject" required>
                            <textarea class="form-control" name="desc" rows="3" placeholder="Enter Comments" required></textarea>
                            <button class="btn btn-primary mt-10" type="submit">Post Comment</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Blog Details End -->

            <div class="col-12 col-md-4 col-lg-3">
                <div class="sidebar" data-aos="fade-in">
                    <div class="widget search-box mb-30">
                        <form class="input-group" action="https://regaltheme.com/tf/multi/rnr/search">
                            <input class="form-control" type="text" placeholder="Search..">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Widget End -->
                    <div class="widget recent-post bg-white mb-30">
                        <div class="widget-title mb-15">
                            <h4 class="mb-10">Recent Posts</h4>
                            <hr class="line bw-2">
                        </div>
                        <ul class="list-unstyled">
                            <li>
                                <a href="blog-details.html">Many desktop publishing packages and web</a>
                            </li>
                            <li>
                                <a href="blog-details.html">All the Lorem Ipsum gen on the Internet tend.</a>
                            </li>
                            <li>
                                <a href="blog-details.html">If you are going to use a passage of Lorem</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Widget End -->

                    <div class="widget categories bg-white mb-30">
                        <div class="widget-title mb-15">
                            <h4 class="mb-10">Categories</h4>
                            <hr class="line bw-2">
                        </div>
                        <ul class="list-unstyled">
                            {% for category in categories %}
                            <li>
                                <a href="?cat={{ category.slug }}">
                                    {{ category.name }} -
                                    <span>{{ category.post_count }}</span>
                                </a>
                            </li>
                            {% empty %}
                            <li>No categories available</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Widget End -->

                    <div class="widget tags bg-white">
                        <div class="widget-title mb-15">
                            <h4 class="mb-10">Tags</h4>
                            <hr class="line bw-2">
                        </div>
                        <div class="tag-link clearfix">
                            <a href="#">Business</a>
                            <a href="#">Cost</a>
                            <a href="#">New</a>
                            <a href="#">Construction</a>
                            <a href="#">Management</a>
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                        </div>
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details End -->

{% endblock %}