{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}


    <section>
        <div class="gap remove-bottom black-layer2 opc85">
            <div class="fixed-bg" style="background-image: url({% static 'assets/images/parallax13.jpg' %});"></div>
            <div class="container">
                <div class="page-title-wrap">
                    <h1><img src="/static/assets/images/resources/page-title-ayat.png" alt="page-title-ayat.png"></h1>
                    <h2>Blog Detail</h2>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'home' %}" title="">Home</a></li>
                        <li><a href="{% url 'post-list' %}" title="">Blog</a></li>
                        <li>Blog Detail</li>
                    </ul>
                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
    <section>
        <div class="gap">
            <div class="container">
                <div class="blog-detail-wrp">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-lg-9">
                            <div class="blog-detail">
                                <div class="blog-detail-inf brd-rd5">
                                    <img src="{{ post.image.url }}" alt="blog-detail-img.jpg">
                                    <div class="blog-detail-inf-inr">
                                        <h4>{{ post.title }}</h4>
                                        <ul class="pst-mta">
                                            <li><i class="fa fa-calendar-o thm-clr"></i>{{ post.updated_at }}</li>
                                            <li><i class="fa fa-user-o thm-clr"></i>Admin</li>
                                            <li><i class="fa fa-clock-o thm-clr"></i>Tuesday, 9:45 AM</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-detail-desc">
                                    <p>{{ post.content | linebreaks }}</p>
                                    <div class="pst-shr-tgs">
                                        <div class="team-scl float-left">
                                            <span>Share This:</span>
                                            <a href="http://twitter.com/intent/tweet?text=Checkout+this+blog+by+PSIY:&url={% url 'post-detail' post.slug %}&hashtags=PSIY,masjid,OuluMosque"
                                                title="Twitter" target="_blank">
                                                <i class="fa fa-twitter"></i>
                                            </a>

                                            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="whatsapp://send?text=" title="Whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                        </div>
                                        <div class="tag-clouds float-right">
                                            <span>Categories:</span>
                                            {% for cat in post.categories.all %}
                                                <a href="{% url 'post-list' %}?cat={{ cat.slug }}"
                                                   title="">{{ cat.name }}</a>,
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="cmts-wrp">
                                        <h3>Comments</h3>
                                        <ul class="cmt-thrd">
                                            {% for comment in post.get_comments %}
                                                <li>
                                                    <div class="cmt-bx">
                                                        <img class="brd-rd50"
                                                             src="{% static 'assets/images/resources/cmt-img1.jpg' %}"
                                                             alt="cmt-img1.jpg">
                                                        <div class="cmt-inf">
                                                            <h6>{{ comment.name }}</h6>
                                                            <span>{{ comment.created_at }}</span>
                                                            <p itemprop="description">{{ comment.desc }}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul><!-- Comment Thread -->
                                    </div><!-- Comments Wrap -->
                                    <div class="cnt-frm cmt-frm">
                                        <h3>Leave Your Comments</h3>
                                        <form method="post" enctype="multipart/form-data"
                                              action="{% url 'add-comment' post.id %}">
                                            {% csrf_token %}
                                            <div class="row mrg20">
                                                <div class="col-md-4 col-sm-6 col-lg-4">
                                                    <input type="text" placeholder="Name" name="name">
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-lg-4">
                                                    <input type="email" placeholder="Email" name="email">
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-lg-4">
                                                    <input type="text" placeholder="Subject" name="subject">
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <textarea placeholder="Message" name="desc"></textarea>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <button type="submit" class="thm-btn brd-rd40">POST COMMENT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="sidebar-wrp">
                                <div class="wdgt-box">
                                    <h4>Search</h4>
                                    <form class="srch-frm" method="get" action="{% url 'post-list' %}?search=">
                                        <input type="text" placeholder="Search" name="search">
                                        <button type="submit" class="thm-clr"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="wdgt-box">
                                    <h4>Categories</h4>
                                    <ul class="cat-lst">
                                        {% for cat in categories %}
                                            <li><a href="{% url 'post-list' %}?cat={{ cat.slug }}"
                                                   title="">{{ cat.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="wdgt-box">
                                    <h4>Recent Posts</h4>
                                    <div class="rcnt-wrp">
                                        {% for item in recent_posts %}
                                            <div class="rcnt-bx">
                                                <a href="{% url 'post-detail' item.slug %}" title=""><img
                                                        src="{{ item.image.url }}" alt="rcnt-img1.jpg"></a>
                                                <div class="rcnt-inf">
                                                    <h6><a href="{% url 'post-detail' item.slug %}" title="">{{ item.title }}</a>
                                                    </h6>
                                                    <span class="thm-clr"><i
                                                            class="fa fa-calendar-o"></i>{{ item.created_at }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div><!-- Sidebar Wrap -->
                        </div>
                    </div>
                </div><!-- Blog Detail Wrap -->
            </div>
        </div>
    </section>


{% endblock %}