{% extends 'website/base.html' %}
{% load static %}
{% block main_container %}

<!-- Breadcrumb Area Start -->
<nav class="breadcrumb-area bg-dark bg-6 ptb-70">
  <div class="container d-md-flex">
    <h2 class="text-white mb-0">Our Solutions</h2>
    <ol class="breadcrumb p-0 m-0 bg-dark ml-auto">
      <li class="breadcrumb-item"><a href="index.html">Home</a> <span class="text-white">/</span></li>
      <li aria-current="page" class="breadcrumb-item active">Our Solutions</li>
    </ol>
  </div>
</nav>
<!-- Breadcrumb Area End -->

<!-- Services Section Start -->
<section class="section-ptb bg-white">
  <div class="container">

    <!-- solution tag name start -->
    <div class="row text-center">
      <div class="col-12" data-aos="zoom-in">
        <div class="heading mb-80">
          <h2>Project Focus</h2>
          <hr class="line bw-2 mx-auto line-sm mb-5">
        </div>
      </div>
    </div>
    <!-- solution tag name end -->

    <!-- Row Start -->
    <div class="row text-center">
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-target"></i>
            </div>
            <h5>Scheduling and Resource Management</h5>
            <p class="mb-20">If you are going to use of Lorem Ipsum, you need to be sure there isn't anything</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="400">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-pencil"></i>
            </div>
            <h5>Collaboration and Communication</h5>
            <p class="mb-20">Various versions have hved over the years, sometimes by accident,</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="600">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-heart"></i>
            </div>
            <h5>Document Management</h5>
            <p class="mb-20">Many desktop publishing packages and web page editors now use Lorem</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Cost Management</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Dashboard and Analytics</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Project Planning and Management</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Project and Financial Control</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Operation and Maintenance</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
    </div>
    <!-- Row End -->

    <div class="header-space"></div>

    <!-- solution tag name start -->
    <div class="row text-center">
      <div class="col-12" data-aos="zoom-in">
        <div class="heading mb-80">
          <h2>Job Role</h2>
          <hr class="line bw-2 mx-auto line-sm mb-5">
        </div>
      </div>
    </div>
    <!-- solution tag name end -->

    <!-- Row Start -->
    <div class="row text-center">
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-target"></i>
            </div>
            <h5>Architect</h5>
            <p class="mb-20">If you are going to use of Lorem Ipsum, you need to be sure there isn't anything</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="400">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-pencil"></i>
            </div>
            <h5>Contracts Manager</h5>
            <p class="mb-20">Various versions have hved over the years, sometimes by accident,</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="600">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-heart"></i>
            </div>
            <h5>Project Manager</h5>
            <p class="mb-20">Many desktop publishing packages and web page editors now use Lorem</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Finance Manager</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Procurement Manager</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Planner and Scheduler</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Engineer</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
      <div class="col-12 col-md-6 col-lg-3 mb-30" data-aos="zoom-in" data-aos-delay="800">
        <div class="card featured-item">
          <div class="card-body ptb-45">
            <div class="icon circle-icon mb-30 mx-auto">
              <i class="ti-shield"></i>
            </div>
            <h5>Quantity Surveyor</h5>
            <p class="mb-20">On the other hand, we nounce with righteous indation and dilike men who are.</p>
            <a class="item-link link-btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <!-- Single Featured End -->
    </div>
    <!-- Row End -->
  </div>
</section>
<!-- Services Section End -->

<!-- Clients Logo Section Start -->
<section class="client-logo section-ptb">
  <div class="container">
    <div class="row text-center">
      <div class="col-12" data-aos="zoom-in">
        <div class="heading mb-80">
          <h2>Trusted by many Companies</h2>
          <p class="mb-20">Looked up one of the more obscure Latin words, consectetur, from <br class="d-none d-md-block"> a Lorem Ipsum passage, and going</p>
          <hr class="line bw-2 mx-auto line-sm mb-5">
          <hr class="line bw-2 mx-auto">
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-2" data-aos="zoom-in">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/1.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
      <div class="col-2" data-aos="zoom-in" data-aos-delay="300">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/2.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
      <div class="col-2" data-aos="zoom-in" data-aos-delay="400">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/3.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
      <div class="col-2" data-aos="zoom-in" data-aos-delay="500">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/4.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
      <div class="col-2" data-aos="zoom-in" data-aos-delay="600">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/5.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
      <div class="col-2" data-aos="zoom-in" data-aos-delay="700">
        <div class="brand-logo">
          <a href="#"><img src="{% static 'assets/img/client/logo/6.png' %}" alt="Client Logo"></a>
        </div>
      </div>
      <!-- Single logo -->
    </div>
  </div>
</section>
<!-- Clients Logo Section End -->

{% endblock %}